#!/bin/bash
clear

#New part
ls /home/discarded | sed '/Maildir/d' > /tmp/to-be-removed
for user in $(cat /tmp/to-be-removed)
do
        sogo-tool remove "$user"
done
##

rm -Rf /home/discarded/*
if [ $? -eq 0 ]
then
        echo `date`      "The Discarded mailboxes were removed"  >> Report-names
else
        echo `date`      "Couldn't delete the discarded mailboxes" >> Report-names

fi

for name in $(ls -1 /home/vmail)
do
        ipa user-find $name > /dev/null
        if [ $? -eq 0 ]
        then
                continue
        else
                mv  /home/vmail/$name  /home/discarded
                echo `date`     "$name" >> Report-names
        fi
done

echo "Cronjob Report of deleted users" | mailx -s "Weekly Report" -r devops2  -a Report-names devops2

